
<ul id="chat">
  <table>
    <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>

        <tr>
          <td><%= message.content if message.sender_id == current_user.id %></td>
          <td></td><td></td><td></td><td></td><td></td><td></td>
          <td></td><td></td><td></td><td></td><td></td><td></td>
          <td><%= message.content if message.reciver_id == current_user.id %></td>
        </tr>

    </tbody>
  </table>
</ul>


